body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: white;
  text-align: center;
  
}
.btns {
  text-align: center;
  border: none;
  width: 40rem;
  margin: 20px 0 0 30px;
}

.main {
  width: 17rem;
  height: 6vh;
}
.App {
  border: 20px solid gray;
  width: 45vw;
  margin: 20px auto;
  background-color: rgb(32, 34, 44);
}
.form-input {
  background-color: transparent;
  width: 30rem;
  margin: 15px auto 0 auto;
  border: white 1px solid;
  color: white;
  height: 5vh;
  text-align: center;
  border-radius: 5px;
}
.email-input{
  background-color: transparent;
  width: 30rem;
  color: white;
  height: 5vh;
  border: white 1px solid;
  text-align: center;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
}
.nameParent {
  display: flex;
 justify-content: space-around;
  width: 35rem;
}
#firstName{
  margin-right: 35px;
  justify-content: center;
}
.log-input{
  background-color: transparent;
  width: 30rem;
  color: white;
  height: 5vh;
  border: white 1px solid;
  text-align: center;
  border-radius: 5px;

}
.nameParent input {
  margin: 5px;
  width: 15rem;
  align-items: center;
  background-color:rgb(32, 34, 44) ;
  height: 5vh;
  text-align: center;
  border-radius: 5px;
  border: white 1px solid;
  color: white;
}
.lastbtn {
  width: 30rem;
  margin: 0 35px 20px 0;
  text-align: center;
}

.icon {
  color: gray;
  position: absolute;
  bottom: 5px;
  left: 40px;
}
.icon2 {
  color: gray;
  position: absolute;
  bottom:10px;
  left: 40px;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
 
}
.my-btn {
  background-color: #198754;
  width: 31rem;
  border: none;
  border-radius: 5px;
  margin: 15px 55px 15px 15px;
  color: white;
  height: 5vh;
}
.select{
  margin: 5px;
  width: 30rem;
  align-items: center;
  background-color:rgb(32, 34, 44) ;
  height: 5vh;
  text-align: center;
  border-radius: 5px;
  border: white 1px solid;
  color: white;
  
}
.maininp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error{
  color: red;
}
.log {
  background-color: #198754;
}





